.carhattbtn {
    border: 2px solid black;
    font-family: "Martel Sans", sans-serif;
    color: azure;
    font-size: 24px;
}
.featuredheader {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.carharttimg {
    position: relative;
    width: 100%;
}
.carharttimg .carhattbtn {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #555;
    padding : 1%;
    border : none;
    cursor : pointer;
    border-radius: 5px;
    
}
.carharttimg .carhattbtn:hover {
    background-color: white;
    color: blue;
}
.crht {
    width: 100%;
}