.shoeFullSlides {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    
}
/* .shoeSlides {
    width: 100%;
    display: flex;
    justify-content: center;
} */
.front {
    width: 100%;
    background-color: #cdcbc6;
}
.shoeSlides1 {
    margin-right: 2%;
}
.shoeSlides2 {
    margin-right: 2%;
    margin-left: 2%;
}
.shoeSlides3 {
    margin-right: 2%;
    margin-left: 2%;
}
.shoeSlides4 {
    margin-left: 2%;
}
.back {
    width: 100%;
    display: none;
    background-color: #e4e2dd;
}
.cont:hover .front {
    display: none;
}
.cont:hover .back {
    display: inline;
}
p {
    font-weight: bold;
    font-family: 'Martel Sans', sans-serif;    
    margin: 7px;
}