#picturelayout {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.firstfront {
    width: 100%;
    height: auto;
    background-color: #cdcbc6;
}
.firstback {
    width: 100%;
    display: none;
    background-color: #e4e2dd;  
}
.firstbox:hover .firstback{
display: inline;
}
.firstbox:hover .firstfront {
    display: none;
}
.firstbox {
    margin-right: 2%;
}
.thirdfront {
    width: 100%;
    background-color: #cdcbc6;
}
.thirdback {
    width: 100%;
    background-color: #e4e2dd;
    display: none;
}
.thirdbox:hover .thirdback{
    display: inline;
}
.thirdbox:hover .thirdfront {
    display: none;
}
.thirdbox {
    margin-left: 2%;
    margin-right: 2%;
}
.fourthfront {
    width: 100%;
    background-color: #cdcbc6;
}
.fourthback {
    width: 100%;
    background-color: #e4e2dd;
    display: none;
}
.fourthbox:hover .fourthfront {
    display: none;
}
.fourthbox:hover .fourthback {
    display: inline;
}
.fourthbox {
    margin-left: 2%;
    margin-right: 2%;
}
.fifthfront {
    width: 100%;
    background-color: #cdcbc6;
}
.fifthback {
    background-color: #e4e2dd;
    width: 100%;
    display: none;
}
.fifthbox:hover .fifthfront {
    display: none;
}
.fifthbox:hover .fifthback {
    display: inline;
}
.fifthbox {
    margin-left: 2%;
}
p {
    font-weight: bold;
    font-family: 'Martel Sans', sans-serif;    
    margin: 7px;
}
/* .firstbox {
    position: absolute;
} */
h5 {

    display: flex;
    justify-content: center;
}
