body {
  background-color: #e4e2dd;
 }
 .videobutton {
     border: 2px solid black;
     font-family: "Martel Sans", sans-serif;
     color: azure;
     font-size: 30px;
 }
 #headervideo {
     position: relative;
 }
 #headervideo .videobutton {
     position: absolute;
     top: 40%;
     left: 45%;
     right: auto;
     background-color: #555;
     padding : 2%;
     border : none;
     cursor : pointer;
     border-radius: 5px;
 }
 #headervideo .videobutton:hover {
     background-color: white;
     color: blue;
 }
 .featuredheader {
     display: flex;
     justify-content: center;
     margin-top: 5%;
 }

 .carhattbtn {
     border: 2px solid black;
     font-family: "Martel Sans", sans-serif;
     color: azure;
     font-size: 30px;
 }
 .carharttimg {
     position: relative;
     width: 100%;
 }
 .carharttimg .carhattbtn {
     position: absolute;
     top: 65%;
     left: 0;
     right: 0;
     margin: auto;
     background-color: #555;
     padding : 2%;
     border : none;
     cursor : pointer;
     border-radius: 5px;
 }
 .carharttimg .carhattbtn:hover {
     background-color: white;
     color: blue;
 }
 .featpic {
    width: 100%;
 }
 .chboard {
     width: 100%;
 }
 .lightbrd {
     display: none;
     width: 100%;
 }
 .carharttimg:hover .chboard {
     display: none;
 }
 .carharttimg:hover .lightbrd {
     display: inline;
 }
 #essentialsheadline {
     display: flex;
     justify-content: center;
 }
 .instagrambox img {
    margin: 2%;
    width: 100%;
    max-width: 500px;
    
 } 
 .instagrambox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    
 }
.minibox {
    display: block;
    justify-content: center;
    margin-left: 5%;
    margin-left: 5%;
}
.minibox:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}
#socialmediapresence {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}
.socmed {
    width: 100%;
    margin: 2%;
}

/* this section untuk view phone */

@media screen and (max-width:700px) {
    .phonesize {
        font-size: 10px
    }
    #headervideo .videobutton {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #555;
        padding: 2%;
        border: none;
        cursor: pointer;
        border-radius: 5px; 
    }
    .carhattbtn {
        border: 2px solid black;
        font-family: "Martel Sans", sans-serif;
        color: azure;
        font-size: 12px;
    }
    .lightbrd {
        display: none;
        width: 100%;
    }

}
/* 
this section untuk nightmode */

body.night-mode {
    background-color: black;
}
.headernavline.night-mode {
    display: none;
}