.firstrow {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
/* .secondrow {
    display: flex;
    justify-content: center;
} */
.leftbox {
    margin-right: 2%;
    position: relative;
}
.rightbox {
    margin-left: 2%;
}
.secondrow {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.mainbox {
    display: block;
}
.top {
    background-color: #cdcbc6;
    position: relative;
}
.bot {
    background-color: #cdcbc6;   
}
.topbox .topbtn {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #555;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.topbox {
    position: relative;
}
.botbox .botbtn {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #555;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.botbox {
    position: relative;
}
.hvrbtn:hover {
    background-color: white;
    color: blue;
}
.sze {
    width: 100%;
}

@media screen and (max-width:700px) {
    .topbox .topbtn {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #555;
        padding: 3px 6px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 12px;
    }
    .botbox .botbtn {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #555;
        padding: 3px 6px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 12px;
    }
}